:root {
  --font-family-custom: "LXWK";
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-family: var(--font-family-custom), var(--font-family-system);
}

/* 添加字体定义 */
@font-face {
  font-family: "LXWK";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("https://cdn.jsdmirror.com/gh/acanyo/mmm.sd@master/assets/font/lxwk.woff2")
    format("woff2");
}
